*{
    box-sizing: border-box;
}
/* This is for  movement */
:root{
    scroll-behavior: smooth;
}
/* This is for scroll bar */
::-webkit-scrollbar{
    width: 12px;
    background-color: #efefef;
}
::-webkit-scrollbar-thumb{
    background-color: #789BE0;
    border-radius: 5px;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* Header area */
.header{
    background-color: #789BE0;
    height: 100%;
}
/* Menu Area */
.main-nav{
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}
.main-menu{
    height: 100vh;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #789BE0;
    color: #fff;
    transform: translateY(-100%);
    transition: transform 1s ease;
}
.main-menu__item{
    padding: 2rem;
}
.main-menu--show{
    transform: translateY(0);
}
.main-menu__link{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
}
/* Toggle menu area */
.toggle-menu{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    margin-right: 1rem;
    transition: transform 650ms;
}
.anim-color{
    filter: invert(1);
    transform: rotate(180deg);
}
.img-menu{
    width: 35px;
}
/* Container (head) area */
.container__head{
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.container__text{
    color: #fff;
}
.main-title,
.subtitle{
    font-weight: 400;
}
.main-title{
    padding-bottom: 1.2rem;
}
.img-content{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}
.cta-reading{
    color: #789BE0;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    width: 60%;
    background-color: #fff;
    border-radius: 20px;
    padding: .7rem;
    margin-top: 1.4rem;
}
.wave{
    height: 100px;
    width: 100%;
    background-color: #789BE0;
    margin-top: -10px;
}
.wave-new{
    height: 100px;
    width: 100%;
    background-color: #fff;
    margin-top: 2rem;
}
/* Section area */
.content{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
    text-align: center;
}
.content-info:nth-child(2){
    margin-top: 3rem;
}
.img-ilustration{
    width: 200px;
    height: 200px;
}
.title{
    color: #789BE0;
    font-size: 1.7rem;
}
.paragraph{
    line-height: 1.5;
    font-weight: 400;
}
.link-wattpad{
    text-decoration: none;
    color: #789BE0;
}
/* Reading zone */
.reading{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.content-reading{
    background-color: #789BE0;
    padding: 2rem;
}
.title-reading{
    font-size: 2.2rem;
    color: #fff;
}
.img-reading{
    width: 220px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    cursor: pointer;
}
/* Footer area */
.footer{
    background: #789BE0;
    padding-bottom: 0.1px;
    padding: 0 3rem;
    text-align: center;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    margin-right: auto;
    margin-left: auto;
}
.brand,.brand-subtitle{
    font-weight: 400;
}
/* Media Querys in general */
@media screen and (min-width: 480px) {
    .content, .container__head{
        width: 85%;
    }
    .img-ilustration{
        width: 190px;
        height: 190px;
    }
}
@media screen and (min-width: 530px) {
    .content, .container__head{
        width: 75%;
    }
    .button{
        width: 180px;
    }
}
@media screen and (min-width: 710px) {
    .container__head{
        width: 70%;
    }
}
@media screen and (min-width: 900px) {
    .container__head,.content-info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    /* Effect of button */
    .cta-reading{
        transition: outline, background-color, color, .7s;
    }
    .cta-reading:hover{
        outline: 1px solid white;
        background-color: transparent;
        color: white;
    }
    .container__head{
        margin-top: 4.5rem;
    }
    .img-content{
        width: 250px;
        height: 250px;
    }
    /* Image of desktop */
    .img-reading{
        height: 315px;
    }
    /* addings anims of menu */
  .main-menu__item {
    position: relative;
    cursor: pointer;
    padding: 1.5rem 0;
    overflow: hidden;
    margin: 2rem;
  }
  
  .main-menu__item::before,
  .main-menu__item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #789BE0;
    transition: transform 0.2s;
  }
  
  .main-menu__item::before {
    top: 15px;
    transform: translateX(-100%);
  }
  
  .main-menu__item::after {
    bottom: 15px;
    transform: translateX(100%);
  }
  
  .main-menu__item:hover::before,
  .main-menu__item:hover::after {
    transform: translateX(0);
  }
}
/* Media Querys of menu */
@media screen and (min-width: 700px) {
    .main-menu{
        height: 70px;
        flex-direction: row;
        transform: translateY(0);
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .main-menu__link{
        color: #2c2c2c;
        font-size: 1.1rem;
    }
    .toggle-menu{
        display: none;
    }
}